.footer {
    background: #191919;
    color: var(--general-color-w);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin-top: 83px;
}

.footer__info-tel {
    margin-bottom: 40px;
}

.footer__info-text span {
    margin-bottom: 16px;
    display: block;
    font-size: 18px;
}

.footer__info-number {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.footer__info-add {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
    color: var(--accent-color);
}

.footer__info-cont {
    margin-bottom: 64px;
    font-size: 24px;
    line-height: 29px;
}

.footer__info-cont span {
    margin-right: 17px;
}

.footer__info-mail {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.footer__btn {
    margin-top: 105px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    border: 1px solid var(--general-color-w);
    display: flex;
    align-items: center;
    max-width: 274px;
    padding: 17px 30px 17px 25px;
    justify-content: start;
    transition: var(--transition);
}

.footer__btn.footer__btn:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.footer__social {
    margin-bottom: 66px;
    width: 27px;
    height: 27px;
    transition: var(--transition);
}

.footer__nav {
    margin-bottom: 106px;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.footer__nav-link {
    transition: var(--transition);
    font-size: 18px;
}

.footer__nav-link:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    transform: scale(1.6);
}

.footer__intro {
    white-space: var(--w-space);
    border-top: 1px solid var(--color-gray);
    padding-bottom: 48px;
}

.footer__intro-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    font-size: 18px;
}

.footer__logo {
    max-width: 134px;
}