:root {
    --general-color-w: #FFF;
    --accent-color: #f05a26;
    --transition: all .4s;
    --accent-mb: 80px;
    --accent-bg: #f0eeee;
    --color-gray: #999;
    --w-space: nowrap;
}

/* ==========ОБЩИЕ СТИЛИ======= */

.body {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.hero__main,
.about__main,
.poject__accent,
.discount__main,
.main__customers,
.calk__fone,
.footer__fons {
    margin-left: 124px;
}

.example__text {
    color: var(--accent-color);
    line-height: 29px;
    margin-bottom: 72px;
}

/* .example__text:hover {
    border-bottom: 1px solid rgb(240, 90, 38);
    opacity: 0.5;
    max-width: 395px;
    cursor: pointer;
} */


/* ========BURGER=========== */

.header__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}


.burger-menu__button {
    display: flex;
    width: 32px;
    height: 20px;
    z-index: 30;
    align-items: center;
    justify-content: center;
}

.burger-menu__button span {
    position: relative;
}

.burger-menu__button span,
.burger-menu__button span::before,
.burger-menu__button span::after {
    display: block;
    width: 32px;
    height: 4px;
    background: var(--accent-color);
    transition: var(--transition);
}

.burger-menu__button span::before,
.burger-menu__button span::after {
    content: "";
    position: absolute;
}

.burger-menu__button span::before {
    top: -9px;
}

.burger-menu__button span::after {
    top: 8px;
}

/* ===========MENU=============== */

.burger-menu__nav {
    position: fixed;
    padding: 105px 150px 25px 82px;
    z-index: 20;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    background: var(--general-color-w);
    overflow-y: auto;
    left: -200%;
    min-width: 460px;
    transform: translateY(50%);
    transition: var(--transition);
    height: 100vh;
}

.burger-menu-active .burger-menu__nav {
    transform: translateY(45%);
    left: 0;
}

.burger-menu__link {
    line-height: 36px;
    margin-bottom: 25px;
    position: relative;
    border-bottom: 1px solid rgb(153, 153, 153);
    box-shadow: -1px 4px 4px -4px #00000040;
    padding-bottom: 3px;
}

.nav__question {
    text-decoration: none;
    margin: 150px 204px 25px 1px;
    line-height: 36px;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu-active .burger-menu__overlay {
    display: block;
    background: rgba(0, 0, 0, .5);
}

.nav__question:hover,
.burger-menu__link:hover {
    transition: var(--transition);
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.burger-menu-active .burger-menu__button,
.burger-menu-active .burger-menu__span {
    background: transparent;
}

.burger-menu-active .burger-menu__span::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu-active .burger-menu__span::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu-active .burger-menu__nav {
    left: 0;
}

/* =============================== */

/* =============MODAL============== */

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--general-color-w);
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    max-width: 650px;
    border: 1px solid #f05a26;
}

.modal__cancel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 32px;
}

.modal__cancel span {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.modal__title {
    color: var(--accent-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 0 261px 64px 87px;
    white-space: var(--w-space);
}

.modal__form-lable {
    padding: 64px 85px;
    display: block;
    width: 100%;
    font-size: 18px;
}

.modal__form-lable:last-child {
    padding: 12px 85px;
}

.field {
    position: relative;
    display: block;
}

.field__input {
    border-bottom: 1px solid var(--color-gray);
    min-width: 478px;
    padding-top: 18px;
    padding-bottom: 11px;
    cursor: pointer;
    font-size: 24px;
}

.field__input::placeholder {
    color: #000;
    font-size: 24px;
}

.field__input:hover,
.field-2__input:hover {
    border-bottom-color: var(--accent-color);
}

.modal__text {
    display: flex;
    align-items: center;
    padding-left: 85px;
    margin-bottom: 64px;
    font-size: 12px;
    color: var(--color-gray);
}

.modal__button {
    background: var(--color-gray);
    display: flex;
    align-items: center;
    color: var(--general-color-w);
    padding: 17px 93px 17px 86px;
    margin: 0 288px 32px 88px;
}

.modal__button:hover {
    background: var(--accent-color);
    color: var(--general-color-w);
    transition: var(--transition);
}

.modal__text-agreement {
    font-size: 18px;
    margin-left: 88px;
    margin-bottom: 115px;
    color: var(--color-gray);
    max-width: 478px;
}

.modal__text-agreement span {
    color: var(--accent-color);
    cursor: pointer;
}

/* =============MODAL-2============== */

.modal-2 {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--general-color-w);
    transition: var(--transition);
}

.modal-2__title {
    margin-top: 70px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 17px;
}

.modal__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.modal__price-name {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.modal__price-accent {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
}

.modal-2__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    white-space: var(--w-space);
}

.modal-2__title span {
    color: var(--accent-color);
}

.modal__details-text {
    width: 580px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 50px;
}

/* ============================ */

.modal-2__form-lable {
    display: block;
    margin-bottom: 64px;
}

.field-2__input {
    border-bottom: 1px solid var(--color-gray);
    min-width: 478px;
    padding-top: 18px;
    padding-bottom: 11px;
    cursor: pointer;
    font-size: 24px;
    display: block;
}

.field-2__input::placeholder {
    content: "";
    margin-top: 16px;
    color: #000;
    font-size: 24px;
    white-space: pre-wrap;
}

.upload-link {
    margin-bottom: 2px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: var(--accent-color);
    cursor: pointer;
}

.upload-hint {
    font-size: 12px;
    font-weight: 400;
    line-height: 27px;
    color: var(--color-gray);
    margin-bottom: 55px;
}

.modal-2__button {
    background: var(--color-gray);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: var(--general-color-w);
    padding: 17px 90px;
    margin-bottom: 32px;
}

.modal-2__text-agreement {
    font-size: 18px;
    margin-bottom: 115px;
    color: var(--color-gray);
    max-width: 478px;
}

.modal-2__text-agreement span {
    color: var(--accent-color);
    cursor: pointer;
}