.header__top {
    margin: 34px 109px 85px 57px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-left {
    display: flex;
    align-items: center;
}

.header__block {
    margin-right: 20px;
    max-width: 32px;
    height: 22px;
}


.header__img-media {
    display: none;
}

.header__logo {
    max-width: 134.07px;
    height: 24px;
}

.header__top-number {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-right: 21px;
}

.header__button {
    padding: 8px 16px 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: rgb(240, 90, 38);
    box-sizing: border-box;
    border: 2px solid rgb(240, 90, 38);
    background-color: inherit;
}

/* ================== */

.hero__content {
    margin-bottom: 80px;
}

.hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 24px;
}

.hero__title span {
    color: var(--accent-color);
}

.hero__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
}

.hero__button {
    padding: 17px 27px 17px 26px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(255, 255, 255);
    background: rgb(240, 90, 38);
    margin-bottom: 80px;
}


.hero__img {
    width: 100%;
    margin-bottom: 80px;
}

.socials__list {
    display: flex;
    align-items: center;
}

.social__link {
    display: inline-block;
    transition: var(--transition);
}

.social__link:hover {
    transform: scale(1.2);
}

.social__link-vk {
    padding-left: 27px;
}

.social__link-fb {
    padding-left: 32px;
}

.social__link-ok {
    padding-left: 40px;