/*Подключение стилей*/
@import "fonts.css";
@import "reset.css";
@import "globals.css";
@import "header.css";

/* ======================= */

/* =========ABOOUT============= */

.about {
    margin-bottom: 72px;
}

.about__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 32px;
}

.tab-conrols {
    display: flex;
    margin-bottom: 52px;
}

.tab-conrols__link {
    padding: 17px 30px 17px 25px;
    transition: var(--transition);
    white-space: var(--w-space);
    background: var(--accent-bg);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    margin-right: 32px;
    display: block;
}


.tab-conrols__link--active {
    background: var(--accent-color);
    color: var(--general-color-w);
    transition: var(--transition);
}

.hidden {
    display: none;
}

.tab-content--show {
    display: block;
}

.about__content {
    margin-bottom: 40px;
}

.about__slide {
    display: flex;
    align-items: center;
}

.about__info {
    max-width: 306px;
    margin-right: 102px;
}

.about__content-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 16px;
}

.about__content-text {
    font-size: 18px;
}

.tab-conrols__item svg {
    display: none;
}

.tabs-media {
    display: none;
}

/* =============MEDIA============= */

@media (max-width: 1230px) {

    .about__content-title,
    .about__content-text,
    .example__text-about {
        font-size: 15px;
    }

    .example__text:hover {
        max-width: 250px;
    }

    .about__info {
        margin-right: 42px;
    }
}

@media (max-width: 1000px) {

    /* ==============ACC================ */
    .tabs,
    .about__cont,
    .example__text-about {
        display: none;
    }

    .tabs-media {
        display: block;
    }


    /* стрелки */

    .tab-conrols__item {
        position: relative;
    }

    .tab-conrols__item svg {
        display: block;
        position: absolute;
        z-index: 11;
        top: 7%;
        left: 90%;
    }

    .arrow--active {
        transform: rotate(180deg);
    }

    .arrow--active path {
        stroke: #FFF;
    }

    /* =========== */

    .tab-conrols__media {
        text-align: center;
        padding: 17px 32px 17px 39px;
        background-color: rgb(240, 238, 238);
        color: rgb(25, 25, 25);
        margin-bottom: 39px;
        cursor: pointer;
    }

    .tab-conrols__media:hover {
        background-color: var(--accent-color);
        color: #FFF;
    }

    .about__slide-media {
        margin-bottom: 48px;
    }

    .about__info-media {
        margin-bottom: 11px;
    }

    .example__text-media {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: var(--accent-color);
    }
}

@media (max-width: 800px) {

    .header__top-number,
    .header__button {
        display: none;
    }

    .header__img-media {
        display: block;
        max-width: 24px;
        height: 24px;
        margin-right: 21px;
    }

    .header__top-left {
        flex-direction: row-reverse;
    }

    .header__logo {
        margin-right: 180px;
    }

    .hero__main,
    .about__main {
        margin-left: 1px;
    }

}

@media (max-width: 500px) {
    .header__top {
        margin: 20px -3px 90px 9px;
    }

    .header__logo {
        margin-right: 105px;
    }

    .hero__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 29px;
    }

    .hero__text {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 43px;
    }

    .hero__img {
        margin-bottom: 53px;
    }

}