/*====================FOOTER=============================*/

.footer {
    background: #AB8261;
    /*общий фон*/
    padding: 60px 0 66px;
    /*поенли отсуп с 30 до 60 чтобы все снизить, а логотипу сделать - отступ*/
    /*общий отступ*/
    color: var(--general-bg);
    /*Цвет для всех общий*/

}

.footer__inner {
    display: grid;
    /*Колонки*/
    gap: 40px 15px;
    /*Отступ между строками*/
    /*чтобы элементы никода не слиплись*/
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    /*Размеры колонок*/
}

.footer__col:first-child {
    margin-top: -30px;
    /*так как снизили колонки - нужно поднять логотип*/
}

.footer__logo {
    display: block;
    /*Строчный элемент*/
    max-width: 241px;
    /*Максимальная ширина*/
}

.footer__logo img {
    width: 100%;
    /*Слушет максимальную ширину*/
}

.footer__logo-text {
    margin-bottom: 20px;
    /*Отступ текста от соц сетей*/
}

.socials {
    line-height: 0;
    /*Влияет на размер футера нужно обнулить / но никак не слияет на ссылки соц сетей*/
}

.socials__list {
    display: flex;
    /*в строку*/
    gap: 15px;
    /*Отступ между иконками*/
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
    /*При наведении на svg*/
}

.footer__col-list {
    margin-top: -5px;
    /*так как всему задано по 5 */
}

.footer__col-item {
    margin-bottom: 10px;
    /*так как добавлены падинги по 5*/
}

.footer__col-item:last-child {
    margin-bottom: 0;
    /*отмена у последнего*/
}

.footer__col-link {
    display: block;
    /*Превратить список в блок*/
    padding: 5px 0;
    /*Сделать отступы между списком*/
    position: relative;
    z-index: 1;
}

/*При наведении сделать кружки*/
.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
    /*От иконок отсутп вниз*/
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__contact-item {
    margin-bottom: 10px;
    /*От иконок отсутп вниз*/
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    /*блоком со след строки*/
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    /*160%*/
    transition: var(--transition);
}

.footer__col-tel:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}