/* ==========ОБЩИЕ СТИЛИ======= */
:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
    /* Управление скролл */
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program {
    padding-bottom: 145px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: "Gabriola", serif;
    font-size: 74px;
    line-height: 0.82;
    /*82%*/
    font-weight: 400;
    color: var(--accent-text);
}

.button {
    /* Text */
    font-weight: 500;
    line-height: 1.6;
    /* 160% */
    font-size: 16px;
    /* на всякий случай добавить тк кнопка */
    color: var(--general-text);
    /* Кнопка */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    padding: 3px 15px;
    /* чтобы текст не прилип к кнопке 3tb 15lr */
    border-radius: 100px;
    /* при адаптиве не съехало */
    transition: var(--transition);
    width: 100%;
    height: 62px;
}

.button:hover {
    background: #FF9138;
}

/* ========================MODAL================================== */

.modal {
    position: fixed;
    /*на весь экран*/
    inset: 0;
    /*Растянуть по всему экрану*/
    background: #00000080;
    /*цвет фона*/
    z-index: 10;
    /*чтобы перебить экран и никакие элементы не были кликабельны*/
    display: flex;
    align-items: center;
    /*размещение по центу*/
    justify-content: center;
    /*размещение по центру*/
    padding: 15px;

    /*скрыть модалку*/
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

/*Включить модалку*/
.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    /*фон*/
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    min-width: 100%;
}

.modal__title {
    margin-bottom: 10px;
    font-family: "Gabriola", serif;
    font-size: 42px;
    line-height: .9;
    /*90%*/
    font-weight: 400;
    color: var(--accent-text);
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-lable {
    margin-bottom: 10px;
}

.field {
    /*приписка к почте*/
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 41px 19px 28px;
    background: #00000000;
    font-size: 16px;
}

.field__input:hover {
    border-color: var(--a);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* ========================HEADER 1 часть====================== */

.header {
    background: url('../imges/fons/Rectangle\ 1.png') 50% 100%/cover no-repeat;
    /*Фон для всего элемента обязательно в кавычках / Позицию чтобы по центру для адаптива (50%) по Х и чтобы низ было видно (100%) по Y / background-size/ убрать повторение*/
}

.header__top {
    padding-top: 19px;
    /*отсутп сверху всех элементов от большего элемента мерим*/
}

.header__top-inner {
    display: flex;
    /*выстраивание в строчку всего*/
    justify-content: space-between;
    /*раскидываем логотип и навигацию по бокам*/
    align-items: flex-end;
    /*выравнивание по вертикале текста и логотипа по центру*/
}

.header__logo {
    max-width: 174px;
    /*размер логотипа 174 х 60*/
    z-index: 11;
    /*Чтобы при ааптиве был виден логотип*/
}

.header__logo img {
    width: 100%;
    /*чтобы изображение слушалось максимальную ширину хедер-лого*/
}

.nav__list {
    display: flex;
    /*выстраивание в строчку*/
    gap: 4vh 40px;
    /*чтобы строки уменьшались если устройство меньше*/
}

.nav__link {
    display: block;
    /*навигационный блок*/
    padding: 5px 0;
    /*пользователю удобнее попасть по ссылке*/
    position: relative;
    /*эффект при наведении*/
    z-index: 1;
    /*должен быть*/
}

.nav__link::before {
    /*при нажатии на ссылку появился эффект*/
    content: '';
    /*псевдо не работает без контента*/
    position: absolute;
    /*Двигаем относительно элемента*/
    top: -8px;
    /*в макете по -13, но есть паддинг 5*/
    left: -13px;
    /*в макете 13*/
    width: 34px;
    /*ширина элемента*/
    height: 34px;
    /*высота элемента*/
    background: var(--accent-color);
    /* цвет элемента*/
    border-radius: 50%;
    /*круг при наведении*/
    z-index: -1;
    /*элемент за текстом*/
    opacity: 0;
    /*скрываем до наведения и будет плавно, лучше чем display:none*/
    transition: var(--transition);
    /*плавность на все свойства*/
}

.nav__link:hover:before {
    /*по наведению*/
    opacity: 1;
    /*появляться по наведению*/
}

.burger-icon {
    /* навигация при адаптиве*/
    display: none;
    /*Скрываем при дескопе на ширине менее 900px*/
    /*Высота и ширина больше, чтобы можно было попасть*/
    width: 50px;
    /*Ширина общая*/
    height: 50px;
    /*Высота общая*/
    align-items: center;
    /*DF указывается в медиа*/
    justify-content: center;
    /*По центру кликабельной области*/
    z-index: 11;
    /*чтобы было видно полоски*/
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    /*Оптимизация кода / выносим одинаковые значения*/
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
    /*Плавные переход менюшки*/
}

.burger-icon span {
    /*Навигация для адаптиве / 1 полоска*/
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    /*Навигация для адаптиве / 2-3 полоска*/
    content: '';
    position: absolute;
    /*Чтобы выпали из общего потока*/
}

.burger-icon span::before {
    top: -8px;

}

.burger-icon span::after {
    bottom: -8px;
}

/*Закрытие бургера через крестик */

.body--opened-menu .burger-icon span {
    background: transparent;
    /*прозрачная палочка*/
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    /*Схлопываем*/
    transform: rotate(45deg);
    /*поворот палочки*/
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    /*Схлопываем*/
    transform: rotate(-45deg);
    /*поворот палочки*/
}

.header__hero {
    padding: 50px 0 140px;
}

/* ========================HEADER 2 часть====================== */

.hero {
    padding: 48px 0 140px;
    /*Отступы сверху и снизу*/
}

.hero__inner {
    display: flex;
    /*Расположение 2х элементов*/
    justify-content: space-between;
    align-items: flex-end
        /*Выравнивание по низу*/
    ;
    gap: 30px;
    /*Чтобы при адаптиве 2 элемента между собой не сталкивались*/
}

.hero__content {
    max-width: 519px;
    /*ограничить контент в тч для переноса текста*/
}

.hero__info {
    color: #B197B2;
    /*Цвет текста*/
    text-transform: uppercase;
    /*Верхний регистр*/
    line-height: 1.6;
    /*160%*/
    margin-bottom: 20px;
    /*отступ вниз*/
    display: flex;
    /*элементы в строчку*/
    flex-wrap: wrap;
    /*перенос как текст*/
}

.hero__inner span {
    display: flex;
    align-items: center;
}

.hero__inner span::after {
    /*псевдо*/
    content: '';
    /*обязательно*/
    background: #B197B2;
    /*цвет псевдо*/
    width: 4px;
    /*ширина элемента*/
    height: 4px;
    /*высота элемента*/
    border-radius: 50%;
    /*круг*/
    display: block;
    /*блочный внутри строчного*/
    margin: 0 10px;
    /*отступ для элементов*/
}

.hero__inner span:last-child::after {
    /*когда это последний элемент то у него отсуствует*/
    content: none;
    /*обязательно*/
}

.hero__title {
    margin-bottom: 30px;
    /*отсутп вниз*/
}

.hero__text {
    margin-bottom: 40px;
    /*отсутп вниз*/
    max-width: 358px;
    /*ограничить контент / перенос*/
}


.hero__button {
    max-width: 358px;
    height: 62px;
    width: 100%;
}

.hero__img {
    /*Сделать адаптивным / Нужно проверять лишнее пространство чтобы оно уменьшалось*/
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    /*Растягивание на 100% своего родителя*/
    max-width: 100%;
}

.hero__img-conrol {
    display: flex;
    /*Расположить горизонтально*/
    align-items: center;
    /* Выравнивание текста и габарита*/
    gap: 10px;
    /*Отступ между кнопкой и текстом*/
    position: absolute;
    /*Движение относительно img*/
    max-width: 201px;
    /*Ограничение по ширине для переноса текста*/
    bottom: 11%;
    left: calc(100% - 39px);
    /*100 - половина круга*/
    text-align: left;
    /*Он итак слева, но при адаптиве не будет наследования*/
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    /*кнопка с габаритами, если не будет блоком то не применится*/
    flex-shrink: 0;
    /*Чтобы кнопка не была ограничена и не сжималась*/
    align-items: center;
    /*Выравнивание по середите плей*/
    justify-content: center;
    /*Выравнивание по середите плей*/
    width: 78px;
    height: 78px;
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    /*тень*/
    border-radius: 50%;
    position: relative;
}

.hero__img-button img {
    padding-left: 8%;
    /*Выравнивание по центру тк нет отсупа*/
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    inset: 5px;
    /*Аналогично margin / padding универсал*/
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover:before {
    opacity: 1;
}

/* ========================ABOUT====================== */


.about__inner {
    display: grid;
    /*чтобы 2 элемента были равны*/
    grid-template-columns: 1fr 1.05fr;
    /*2 колонки*/
    grid-template-rows: repeat(2, auto);
    /*2 строки*/
    gap: 40px 53px;
    /*отступы между строками и колонками*/
}

.about__img {
    border-radius: var(--border-radius);
    /*без overflow скругления быть не может*/
    overflow: hidden;
    position: relative;
    /*для contrlol*/
    grid-row: 1 / -1;
    /*растянуть изображение*/
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    /*чтобы при адаптиве была середина изображения*/
}

.about__img-control {
    position: absolute;
    bottom: 4.7%;
    /*25px*/
    left: 5%;
    /*30px*/
    display: flex;
    /*иконка относительно текста*/
    align-items: center;
    gap: 10px;
    /*отступ друг от друга*/
    max-width: 299px;
    /*ширина всей кнопки*/
    text-align: left;
    background: #957b97e6;
    /*фон для кнопки подарка*/
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    box-shadow: 0 4px 20px rgba(184, 148, 126, .3);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    /*чтобы элемент не уменьшался*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =======================PROGRAMS================== */

.program {}

.program__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.program__heading {}

.program__title {
    margin-bottom: 20px;
}

.program__text {}

.tab-conrols {
    display: flex;
    gap: 26px;
}

.tab-conrols__item {}

.tab-conrols__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px #cec3b94d;
    transition: var(--transition);
}

.tab-conrols__link:hover {
    background: var(--accent-bg);
}

.tab-conrols__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px #cec3b900;
}

.tab-content {}

/*====================FOOTER=============================*/

.footer {
    background: #AB8261;
    /*общий фон*/
    padding: 60px 0 66px;
    /*поиенли отсуп с 30 до 60 чтобы все снизить, а логотипу сделать - отступ*/
    /*общий отступ*/
    color: var(--general-bg);
    /*Цвет для всех общий*/

}

.footer__inner {
    display: grid;
    /*Колонки*/
    gap: 40px 15px;
    /*Отступ между строками*/
    /*чтобы элементы никода не слиплись*/
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    /*Размеры колонок*/
}

.footer__col:first-child {
    margin-top: -30px;
    /*так как снизили колонки - нужно поднять логотип*/
}

.footer__logo {
    display: block;
    /*Строчный элемент*/
    max-width: 241px;
    /*Максимальная ширина*/
}

.footer__logo img {
    width: 100%;
    /*Слушет максимальную ширину*/
}

.footer__logo-text {
    margin-bottom: 20px;
    /*Отступ текста от соц сетей*/
}

.socials {
    line-height: 0;
    /*Влияет на размер футера нужно обнулить / но никак не слияет на ссылки соц сетей*/
}

.socials__list {
    display: flex;
    /*в строку*/
    gap: 15px;
    /*Отступ между иконками*/
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
    /*При наведении на svg*/
}

.footer__col-list {
    margin-top: -5px;
    /*так как всему задано по 5 */
}

.footer__col-item {
    margin-bottom: 10px;
    /*так как добавлены падинги по 5*/
}

.footer__col-item:last-child {
    margin-bottom: 0;
    /*отмена у последнего*/
}

.footer__col-link {
    display: block;
    /*Превратить список в блок*/
    padding: 5px 0;
    /*Сделать отступы между списком*/
    position: relative;
    z-index: 1;
}

/*При наведении сделать кружки*/
.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
    /*От иконок отсутп вниз*/
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__contact-item {
    margin-bottom: 10px;
    /*От иконок отсутп вниз*/
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    /*блоком со след строки*/
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    /*160%*/
    transition: var(--transition);
}

.footer__col-tel:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
}

/* ====================MEDIA/AДАПТИВ=====до 320========= */

@media (max-width: 1200px) {

    /* ===HEADER== */
    .hero__img {
        margin: 0;
        /*Отмена отступа*/
        max-width: 377px;
        /*Максимальная ширина изображения*/
    }

    /*Воспроизведение ниже изображения*/
    .hero__img-conrol {
        position: static;
        /*перенос вниз*/
        max-width: nine;
        /*убираем максимальную ширину*/
        margin-top: 30px;
        /*отсуп от изображения к кнопке*/
    }

    /* ==FOOTER== */
    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {

    /* ====ABOUT==== */
    .about__body {
        align-self: center;
        /*текст по среди изображения*/
    }

    .about__img {
        grid-row: auto;
        /*Убираем растягивание изображения*/
    }

    .about__grid {
        grid-column: 1 / -1;
        /*растягивание элементов на всю ширину - на 2 колонки*/
    }
}

@media (max-width: 900px) {

    /* ===HEADER==== */
    /* Бургер меню - 3 полоски при нажатии - выпадает навигация Добавить после навигации в html чтобы было справа */
    .nav {
        /*Скрываем навигацию*/
        position: fixed;
        background: var(--general-bg);
        inset: 0;
        /*чтобы растяжение было по всему экрану*/
        z-index: 10;
        /*Виден только список*/
        padding: 26vh 15px 30px;
        /*отступы для менюшки*/
        font-size: 30px;
        /*Шрифт для всего блока*/

        /*Скрытие меню, а откроются в модификаторе*/
        transform: translateY(-50%);
        /*сделать отсуп для появления меню сверху*/
        opacity: 0;
        /*чтобы появлялось в момент нажатия*/
        visibility: hidden;
        /*чтобы полностью скрыть из инструмента разработчика/ чтобы nav пропал при наведении в инструменте разработчика/ используется часто с opacity*/
        transition: var(--transition);
    }

    .nav__link {
        text-align: center;
    }

    .nav__list {
        flex-direction: column;
        /*В столбик*/
        align-items: center;
        /*По центру*/
    }

    .body--opened-menu .nav {
        /*когда нажимаем на иконку бургера у body будет появляться модификатор*/
        transform: translateY(0%);
        /*сделать отсуп для появления меню сверху*/
        opacity: 1;
        /*чтобы появлялось в момент нажатия*/
        visibility: visible;
        /*чтобы полностью скрыть из инструмента разработчика/ чтобы nav пропал при наведении в инструменте разработчика/ используется часто с opacity*/
    }

    .burger-icon {
        display: flex;
        /*чтобы полоска была посредине*/
    }

    /* ====FOOTER=== */

    .footer__inner {
        justify-content: center;
        /*по центру*/
        grid-template: none;
        text-align: center;
        /*по центру*/
        gap: 0;
        /*отмена всех отступов для индивидуальных отсутпов*/
    }

    .footer__col:first-child {
        /*выравнивание по центру*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        /*отступ*/
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
        /*отступы*/
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
        /*отсутпы*/
    }
}

@media (max-width: 800px) {

    /*Исключить изображение и видео из мобильной версии / При этом добавить просмотр видео после текста в html*/
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
        /*Появится кнопка воспроизведения*/
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        /*Элементы выстраиваются сверху вниз*/
        align-items: center;
        text-align: center;
        max-width: none;
        width: 100%;
        /*Иначе растягивается по тексту заголовка*/
    }

    /* =====ABOUT======= */
    .about__inner {
        grid-template: none;
        /*Чтобы было в столбик*/
    }

    .about__img {
        max-width: 500px;
        /*Уменьшить изображение*/
        justify-self: center;
        /*Разместить изображение по центру*/
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
        /*Убираем колонки*/
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    /* ================== */

    .header__hero {
        padding-bottom: 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* ========ABOUT====== */
    .title {
        font-size: 12vw;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        max-width: none;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
        /*Отступы между элементами меньше*/
    }

    .about__grid-item {
        padding: 10px 15px;
        /*Уменьшаем отступы*/
    }
}

@media (max-width: 450px) {

    /* =======MODAL======= */
    .modal__window {
        padding: 0 15px 45px;
    }

    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }
}
