body {
    background: #262628;
    color: #868181;
    font-size: 25px;
}

/* -------------------- */

.block__figure {
    position: fixed; 
    left: 50%;
    right: 100px;
    bottom: 50px;
}

.block__figure-rectangle {
    min-height: 100px;
    background: #edd1d1;
    border-radius: 5px;
}

.block__figure-circle {
    width: 100px;
    height: 100px;
    background: #f10453;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 70%;
}
