.text-1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.text-2 {
    text-decoration: line-through;
}

.text-3 {
    text-align: center;
    text-transform: uppercase;
}

.text-4 {
    text-decoration: overline wavy rgb(10, 50, 85);
    text-shadow: 1px 1px 1px #f2b2df;
    word-spacing: 30px;
}

.text-5 {
    text-decoration: underline double;
    letter-spacing: 5px;
}