:root {
    --accent-color-b: #1D6FB6;
    --accent-color-w: #F8FCFF;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: var(--accent-color-w);
    line-height: 1.5;
    color: #25282B;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ======================HEADER============= */

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    min-width: 54px;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__link:hover {
    border-radius: 50px;
    border: 2px solid #67b3f2;
}

.header__socialis {
    justify-content: end;
}

.socials {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: end;
}

/* ======================HERO============= */
.hero {
    padding: 120px 0;
    color: var(--accent-color-w);
    position: relative;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-weight: 400;
    font-size: 52px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hero__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero__list-item {
    margin-bottom: 15px;
    display: flex;
    gap: 18px;
    align-items: center;
    transition: all .5s;
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item:hover {
    color: var(--accent-color-b);
}

.hero__list-item:hover path {
    fill: var(--accent-color-b);
    transition: all .5s;
}

.button {
    font-weight: 500;
    line-height: 20px;
    color: var(--accent-color-b);
    height: 56px;
    max-width: 288px;
    background: #D0DCE7;
    border-radius: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transition: all .5s;
}

.button:hover {
    color: #D9D9D9;
    background: #83ADD3;
}

.hero__video {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #102E49;
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* ======================GENERAL============= */

.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: space-between;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.sidebar {
    border: 2px solid #D0DCE7;
    padding: 30px;
    max-width: 282px;
    width: 100%;
    line-height: 20px;
    font-weight: 500;
    min-height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}

.sidebar__link:hover {
    color: var(--accent-color-b);
    transition: all .3s;
    font-weight: 700;
}

/* ========================================== */

.main__body {
    max-width: 792px;
    width: 100%;
}

.main__gallery {
    margin-bottom: 120px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    grid-auto-flow: dense;
}

.gallery__img {
    position: relative;
    display: block;
    overflow: hidden;
    color: var(--accent-color-w);
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 100%;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center center;
}

.gallery__img--light-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--light-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #106FB6B2;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: all .5s;
    opacity: 0;
}

.gallery__img--light-left .gallery__hint,
.gallery__img--light-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

/* ========================================== */

.products {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-body {
    border: 1px solid #D0DCE7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

.products__item-badge {
    position: absolute;
    left: 0;
    top: 12%;
    background: var(--accent-color-w);
    border-radius: 0px 100px 100px 0px;
    padding: 18px 15px;
    min-width: 34%;
    color: var(--accent-color-b);
    font-weight: 500;
    line-height: 20px;
    animation: badge-action 2s infinite alternate;
}

@keyframes badge-action {
    0% {
        min-width: 34%;
    }

    66.666% {
        min-width: 34%;
    }

    100% {
        min-width: 37%;
    }
}

/* ======================FOOTER============= */

.footer {
    background: #788088;
    color: var(--accent-color-w);
    text-align: center;
    line-height: 20px;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
