/* =========ABOOUT============= */

.about {
    margin-bottom: 52px;
}

.about__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    margin-bottom: 32px;
}

.tab-conrols {
    display: flex;
}

.tab-conrols__link {
    padding-right: 32px;
    display: block;
    padding: 17px 30px 17px 25px;
    transition: var(--transition);
    white-space: var(--w-space);
    background: var(--accent-bg);
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin: 32px 32px 56px 0;
}

.tab-conrols__link--active {
    background: var(--accent-color);
    color: var(--general-color-w);
    transition: var(--transition);
}

.hidden {
    display: none;
}

.tab-content--show {
    display: block;
}

.about__content {
    margin-bottom: 40px;
}

.about__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 306px;
}

.about__info {
    margin-right: 93px;
}

.about__content-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 16px;
}

.about__content-text {
    min-width: 306px;
    font-size: 18px;
}