/* =========CUSTOMERS============= */

.customers {
    margin-bottom: var(--accent-mb);
}

.customers__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 16px;
}

.customers__text {
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 48px;
}

.customers__feedback {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -15px;
}

.customers__feedback-info {
    margin-left: 32px;
}

.customers__feedback-info svg {
    transform: translate(250px, -210px);
    cursor: pointer;
}

.customers__feedback-info path {
    transition: var(--transition);
}

.customers__feedback-info path:hover {
    fill: var(--accent-color);
}

.customers__feedback-info:last-child {
    margin-left: 0;
}