/* =========DISCONT============= */

.discount__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 32px;
}

.discount__info {
    display: flex;
    margin-bottom: 40px;
}

.discount__info-accent {
    font-size: 18px;
    margin-bottom: 16px;
}

.discount__text {
    margin-bottom: 16px;
    margin-right: 134px;
}

.discount__text-accent {
    font-size: 36px;
    line-height: 44px;
}

.discont__cost {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

}

.discont__cost-option {
    margin-right: 102px;
    max-width: 510px;
}

.discont__cost-option:last-child {
    margin-right: 0;
}

.discont__cost-img {
    margin-bottom: 24px;
}

.discont__cost-global {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.discont__cost-title {
    line-height: 29px;
}

.discont__cost-prices {
    line-height: 29px;
}

.discont__cost-text {
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 24px;
}

.discont__cost-example {
    font-size: 18px;
    cursor: pointer;
    transition: var(--transition);

}