:root {
    --general-color-w: #FFF;
    --accent-color: #f05a26;
    --transition: all .4s;
    --accent-mb: 80px;
    --accent-bg: #f0eeee;
    --color-gray: #999;
    --w-space: nowrap;
}

/* ==========ОБЩИЕ СТИЛИ======= */

.body {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.content,
.main__about,
.main__project,
.main__discount,
.main__why,
.main__customers,
.main__calk,
.main__footer {
    padding-left: 124px;

}

.example__text {
    color: var(--accent-color);
    line-height: 29px;
    margin-bottom: 72px;
}

.example__text:hover {
    font-weight: 700;
    cursor: pointer;
}

/* =============MODAL============== */

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--general-color-w);
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    max-width: 650px;
    border: 1px solid #f05a26;
    
}

.modal__cancel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    padding-right: 32px;
}

.modal__cancel span {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.modal__title {
    color: var(--accent-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 0 261px 64px 87px;
    white-space: var(--w-space);
}

.modal__form-lable {
    padding: 64px 85px;
    display: block;
    width: 100%;
    font-size: 18px;
    
} 

.modal__form-lable:last-child {
    padding: 12px 85px;
    
} 

.field {
    position: relative;
    display: block;
}

.field__input {
    border-bottom: 1px solid var(--color-gray);
    min-width: 478px;
    padding-top: 18px;
    padding-bottom: 11px;
    cursor: pointer;
    font-size: 24px;
}

.field__input::placeholder {
    color: #000;
    font-size: 24px;
}

.field__input:hover {
    border-bottom-color: var(--accent-color);
}

.modal__text {
    display: flex;
    align-items: center;
    padding-left: 85px;
    margin-bottom: 64px;
    font-size: 12px;
    color: var(--color-gray);

}

.modal__button {
    background: var(--color-gray);
    display: flex;
    align-items: center;
    color: var(--general-color-w);
    padding: 17px 93px 17px 86px;
    margin: 0 288px 32px 88px;
}

.modal__button:hover {
    background: var(--accent-color);
    color: var(--general-color-w);
    transition: var(--transition);
}

.modal__text-agreement {
    font-size: 18px;
    margin-left: 88px;
    margin-bottom: 115px;
    color: var(--color-gray);
    max-width: 478px;
}

.modal__text-agreement span {
    color: var(--accent-color);
    cursor: pointer;
}

/* =============SLIDE============== */
