.header {}

.header__top {
    margin: 26px 109px 136px 57px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-width: 134px;
    z-index: 11;
    padding-left: 20px;
}

.header__logo img {
    width: 100%;
}

.header__top-number {
    padding-left: 746px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.2;

}

.header__button {
    font-size: 12px;
    color: var(--accent-color);
    background: none;
    border: 2px solid var(--accent-color);
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    transition: var(--transition);
    margin-left: 21px;
    max-width: 130px;
    height: 32px;
    white-space: nowrap;
}

.header__button:hover {
    color: #FFF;
    background: var(--accent-color);
}

/* BURGER */
.burger-menu {
    max-width: 1200px;
}

.burger-menu__button {
    position: fixed;
    top: -2px;
    left: 72px;
    z-index: 30;
    width: 32px;
    height: 20px;
    transition: var(--transition);
}

.burger-menu__button:hover .burger-menu__lines {
    transition: var(--transition);
}

.burger-menu__lines,
.burger-menu__lines::before,
.burger-menu__lines::after {
    position: absolute;
    width: 32px;
    height: 4px;
    background: var(--accent-color);
}

.burger-menu__lines {
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
    content: "";
    top: -12px;

}

.burger-menu__lines::after {
    content: "";
    top: 12px;
}

.burger-menu-active .burger-menu__button,
.burger-menu-active .burger-menu__lines {
    background: transparent;
}

.burger-menu-active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu-active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
    left: -100%;
    transition: var(--transition);
}

.burger-menu-active .burger-menu__nav {
    left: 0;
}

.burger-menu__link {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 82px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: underline;
}

/* .burger-menu__link::before {
    content: "";
    margin-top: 3px;
    height: 1px;
    background-color: #999;
    display: block;
} */

.nav__question {
    text-decoration: none;
    margin: 150px 204px 25px 82px;
    font-size: var(--f-size);
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 25px;
}

.nav__question:hover,
.burger-menu__link:hover {
    transition: var(--transition);
    color: var(--accent-color);
    text-decoration: underline;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu-active .burger-menu__overlay {
    display: block;
}

.socials__list {
    /* max-width: 187px; */
    display: flex;
    align-items: center;
    }

.social__item {
}

.social__link {}

.social__link-inst {
    padding-left: 82px;
}

.social__link-vk {
    padding-left: 27px;
}

.social__link-fb {
    padding-left: 32px;
}

.social__link-ok {
    padding-left: 40px;
}