/* =========PROJECT============= */

.project {
    margin-bottom: var(--accent-mb);
    background: var(--accent-bg);
}

.project__title {
    padding-top: 72px;
    margin-bottom: 16px;
}

.project__text {
    margin-bottom: 40px;
    font-size: 18px;
    color: var(--color-gray);
}

.swiper-container {
    overflow: hidden;
}

.image-slider {
    width: 100%;
    position: relative;
    height: auto;
}

.image-slider::after {
    content: "";
    position: absolute;
    background: #e5e5e5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 102px;
}

.image-slider::before {
    content: "";
    position: absolute;
    background: #e5e5e5;
    top: 0;
    bottom: 0;
    width: 102px;
    right: 220px;
}

.image-slider__image {
    margin-left: 102px;
    cursor: pointer;
}

.image-slider__image img {
    max-width: 988px;
    object-fit: cover;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #f15a24;
    max-width: 20px;
}

.swiper-button-prev {
    margin-left: 30px;
}

.swiper-button-next {
    margin-right: 250px;
}

/* ------------ */

.project__footer {
    
}

.project__info {
    display: flex;
    margin-top: 25px;
    font-size: 18px;
    margin-right: 363px;
    margin-left: 100px;
    margin-bottom: 15px;
}

.project__info-text {
    white-space: var(--w-space);
    margin-left: 63px;
}

.project__info-est {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
}

.project__accent {
    padding-bottom: 86px;
}

.project__info-estimates span {
    display: flex;
    font-weight: 900;
}

.project__info-estimates {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

/* ========= */

.image-slider__slide {
    position: relative;
    transition: var(--transition);
}

.pagination {
    position: absolute;
    bottom: 32px;
    display: flex;
    gap: 8px;
    left: 536px;
}

.pagination div {
    width: 8px;
    height: 8px;
    background: #f2f2f2;
    margin: 0 8px;
    cursor: pointer;
    transition: var(--transition);
}

.pagination div.active {
    width: 32px;
    height: 8px;
    background: var(--accent-color);
}
