/*Подключение стилей*/
@import "fonts.css";
@import "reset.css";
@import "globals.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "discont.css";
@import "customers.css";
@import "calk.css";
@import "footer.css";


/* =========WHY============= */

.why {
    background: var(--accent-bg);
    margin-bottom: var(--accent-mb);
    height: 200px;
}

.why__example-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 78px 0;
    border-bottom: 1px solid var(--accent-bg);
}

/* ======================MEDIA========================= */

@media (max-width: 1100px) {

    .content,
    .header__inner,
    .main__about,
    .main__project,
    .main__discount,
    .main__why,
    .main__customers,
    .main__calk,
    .main__footer {
        padding-left: 24px;
    }

    .hero__img {
        padding-left: 0;
    }
    /* ================ABOUT================== */
    .about__info {
        margin-right: 40px;
    }
    /* ================PROJECT================== */
    .image-slider__image {
        margin-left: 30px;
    }
    .image-slider::before,
    .image-slider::after {
        content: none;
    }
    .swiper-button-prev {
        margin-left: 55px;
    }
    .swiper-button-next {
        margin-right: 55px;
    }

    .project__info {
        justify-content: center;
        margin-right: 0;
    }

        .project__info-est {
            margin-left: 80px;
        }
    .pagination {
        left: 466px;
    }
/* ================DISCONT================== */
    .discont__cost-option {
        margin-right: 20px;
        max-width: 510px;
        }
/* ================CUSTOMERS================== */
    .customers__feedback-info:last-child {
        display: none;
    }
    /* ================CALK================== */
    .calk__col {
        display: block;
        margin: 0 15%;
    }

    .calk__box {
        margin-bottom: 45px;
    }

    .calk__footer {
        justify-content: center;
    }
/* ================FOOTER================== */
    .footer__nav-link {
        font-size: 18px;
    }

    .footer__intro-text {
        margin-right: 110px;
    }

}

@media (max-width: 900px) {}

@media (max-width: 800px) {}

@media (max-width: 600px) {

    .header__top-inner {
        flex-direction: row-reverse;
        justify-content: end;
    }

    .header__top-number {
        display: none;
    }

    .header__button {
        display: none;
    }

    .header__img-media {
        display: block;
        margin-right: 21px;
    }

    .header__logo {
        margin-right: 113px;
    }

    .about__title {
        font-size: 28px;
    }

    .tab-conrols {
        display: block;
    }

    .tab-conrols__link {
        position: relative;
    }

    .tab-conrols__link::before {
        content: "";
        background: url(../images/icon/ArrowB.svg) no-repeat right;
        position: absolute;
        top: 0;
        left: 0;
        right: 18px;
        bottom: 0;
    }

    .about__slide {
        display: block;
    }

    .about__content,
    .example__text {
        display: none;
    }

    .image-slider img {
        height: 203px;
    }

    .image-slider__image {
        margin-left: 0;
    }

    .image-slider::before,
    .image-slider::after {
        content: none;
    }

    .swiper-button-next {
        margin-right: 60px;
    }

    .swiper-button-prev {
        margin-left: 0;
    }

}

@media (max-width: 360px) {
    /* header */

}
