/*Подключение стилей*/
@import "fonts.css";
@import "reset.css";
@import "globals.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "discont.css";
@import "customers.css";
@import "calk.css";
@import "footer.css";


/* =========WHY============= */

.why {
    background: var(--accent-bg);
    margin-bottom: var(--accent-mb);
    height: 200px;
}

.why__example-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding: 78px 0;
}

/* ======================MEDIA========================= */

